/*CSS RESET*/
* {
  padding: 0px;
  margin: 0px;
}
/*CSS RESET*/

@font-face {
  font-family: "AVGARDD";
  src: url(/fonts/AVGARDD.TTF);
}
@font-face {
  font-family: "AVGARDN";
  src: url(/fonts/AVGARDN.TTF);
}
@font-face {
  font-family: "impact_imp";
  src: url(/fonts/impact.ttf);
}
body{
  background-color: #efefef
}
.header {
  height: 285px;
  background-image: url(images/header-bg.jpg);
}
.header__content {
  display: flex;
  justify-content: center;
  align-items: end;
}
.logo {
  position:relative;
  left:-5px;
  background-image: url(images/logo.gif);
  background-repeat: no-repeat;
  width:50%;
  height: 91px;
}
.page__title {
  background-image: url(images/header-img1.jpg);
  background-repeat: no-repeat;
  background-position: 90%;
  width:50%;
  height: 215px;
}
.menu__bar{
  display: flex;
}
.menu__items{
  width:50%;
}

.menu__items ul{
  display: flex;
  list-style: none;
  height:32px;
  margin-left:5px;
  white-space: nowrap;
}
.menu__items li{
  display:inline-block;
  height:32px;
  margin:0 13px 0 0;
}
.menu__items a{
  display:inline-block;
  line-height:32px;
  text-align: center;
  width:100%;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.menu__divider {
  background-image: url(images/menu-devider.gif);
  background-repeat: no-repeat;
  display: inline-block;
  width: 2px;
  height: 32px;
}
.menu__divider.hidden{
  display:none;
}


.menu__bar a:hover {
  background-image: url(images/menu-hover.gif);
  background-repeat: no-repeat;
  background-position: top;
}
.main__body {
  position:relative;
  top:-33px;
  display: flex;
  justify-content: center;
  height: 754px;
}
.body__content {
  display: flex;
  flex-direction: row;
  width: 720px;
}
.column {
width: 50%;
}
.column.right {
  background-color: white;
  border-radius: 0 0 10px 10px;
}
.column__content__container{
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  margin:0 41px 0;
  height:100%;
}
.article__heading {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
.title__icon {
  width: 60px;
  height: 71px;
  flex-shrink: 0;
}
#updates__article__title__icon {
  background-image: url(images/image1.jpg);
  background-repeat: no-repeat;
}
.article__title {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}
.article__title .title {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20pt;
  font-weight: bold;
  color: #4d4d4d;
}
.article__title .subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #967001;
}
.article__content h1 {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  color: #666666;
}
.article__content p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10pt;
  color: #666666;
  hyphens:auto;
}

.article__content a {
  float: right;
}
.read__more__link {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 10pt;
  color: #bf4d02;
}

#our__works__article__title__icon {
  background-image: url(images/image2.jpg);
}
.article__content.thumbnails {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}
.thumb__container {
  margin-bottom:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 109px;
  height: 135px;
}
.thumb__container a {
  display: inline-block;
  float: none;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10pt;
  color: #bf4d02;
}
.thumb__container a::after {
  display: inline-block;
  content: "";
  width: 5px;
  height: 8px;
  background-image: url(images/arrow.gif);
  background-repeat: no-repeat;
  margin-left: 5px;
}
.thumb__container::after {
  content: "";
  width: 108px;
  height: 1px;
  background-image: url(images/workdot-line.gif);
  background-repeat: no-repeat;
}

.thumb__image {
  width: 109px;
  height: 105px;
}
.thumb__image.top__left {
  background-image: url(images/workimg1.jpg);
  background-repeat: no-repeat;
}
.thumb__image.bottom__left {
  background-image: url(images/workimg2.jpg);
  background-repeat: no-repeat;
}
.thumb__image.top__right {
  background-image: url(images/workimg3.jpg);
  background-repeat: no-repeat;
}
.thumb__image.bottom__right {
  background-image: url(images/workimg4.jpg);
  background-repeat: no-repeat;
}

.quote__container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-height:150px;
}
.quote__container::after {
  content: "";
  height: 1px;
  background-image: url(images/workdot-line.gif);
}
.quote__container p{
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 11pt;
  font-style: italic;
  color:#323232;
  quotes: '\201c' '\201d';
}

.quote__container p::before {
  position: absolute;
  top:-15px;
  left: -30px;
  content: open-quote; 
  color:#bf4d02;
  font-size:40pt;
  max-height:20px;
  float:left;
}
.quote__container p::after {
  content: close-quote; 
  color:#bf4d02;
  font-size:40pt;
  max-height:20px;
  float:right;
}

.quote__container span{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14pt;
  text-align: right;
  font-weight: bold;
  font-style: italic;
  color:#ac8101
}
#developements__article__title__icon {
  background-image: url(images/icon1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.support__image{
background-image: url(/images/online.jpg);
width:278px;
height: 154px;
}
.footer {
  height: 204px;
  width: 100%;
  background-image: url(images/footer-bg.gif);
  background-repeat: repeat-x;
}
