/*CSS RESET*/
* {
  padding: 0px;
  margin: 0px;
}
/*CSS RESET*/
body {
}
.header {
  position: relative;
  height: 285px;
  width: 100%;
  background-image: url(images/header-bg.jpg);
}
/* .header-content {
  display: block;
  position: absolute;
  left: 25%;
  bottom: -5px;
}
.header-content span {
  display: inline-block;
}
.logo {
  background-image: url(images/logo.gif);
  width: 372px;
  height: 91px;
  margin-left: 14px;
}
.pagetitle {
  background-image: url(images/header-img1.jpg);
  width: 311px;
  height: 215px;
} */

.menubar ul {
  list-style-type: none;
  position: absolute;
  left: 50%;
  bottom: 44px;
  /* padding: 16px 0 16px 0; */
}
.menubar li {
  float: left;
  display: block;
  padding: 0 16px 0 14px;
}
.menubar li:first-child {
  border-left: 0;
}
.menubar li:last-child {
  border-right: 0;
}

.mainbody {
  width: 100%;
  height: max-content;
  background-color: rgb(239);
  position: relative;
}
.column {
  display: inline-block;
  width: 389px;
  height: 800px;
  border: 1px solid blue;
}
.column.left {
  border: 1px solid red;
}

.footer {
  height: 204px;
  width: 100%;
  background-image: url(images/footer-bg.gif);
  background-repeat: repeat-x;
}
